In [23]:
import pandas as pd

df = pd.read_csv("../Test/testsuperset-taxon-list.tsv", sep='\t')

df

           ID                       Species
0        9606                  Homo sapiens
1       10116             Rattus norvegicus
2       39947  Oryza sativa subsp. japonica
3        7955                   Danio rerio
4        7227       Drosophila melanogaster
...       ...                           ...
8448    42344        Haliotis discus hannai
8449     8374              Crinia georgiana
8450   309541             Takifugu obscurus
8451  1274933          Schizocosa malitiosa
8452   185214     Liposcelis bostrychophila

[8453 rows x 2 columns]